<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218302013535-jj7rc275n9l1p0g1ssq3rqvmr1q489qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218302013535-jj7rc275n9l1p0g1ssq3rqvmr1q489qs</string>
	<key>API_KEY</key>
	<string>AIzaSyD1_0n2Yoj2L_Nj_sp6WjsuBNXC1SQdC-U</string>
	<key>GCM_SENDER_ID</key>
	<string>218302013535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cake.it</string>
	<key>PROJECT_ID</key>
	<string>cake-it-f24b4</string>
	<key>STORAGE_BUCKET</key>
	<string>cake-it-f24b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218302013535:ios:8ea84184acb96cb51f7bea</string>
</dict>
</plist>